.search-blocks {
    padding: 80px 0;
}

.search-blocks__title {
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 60px;
}

.search-blocks__container {
    max-width: 1070px;
}

.search-blocks .post-grid {
    margin: 0;
}

.not-found-text {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 23px;
    color: rgba(47, 34, 34, 0.4);
}